:root {
    --primary: #000000;
    --secondary: #FFFFFF;
    --accentLight: #0099DA;
    --accentDark: #032970;
}

html, body {
    font-family: 'Figtree', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: var(--secondary);
    color: var(--primary);
}

header {
    background: #0977B4 0% 0% no-repeat padding-box;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7.5rem;
    width: 100vw;
    display: flex;
    align-items: center;
    z-index: 5;
}

header img {
    height: 5.5rem;
    margin-left: 4rem;
    cursor: pointer;
}

header * {
    display: inline;
    font-size: 2rem;
    color: #fff;
}

header li {
    margin: 2rem;
}

header li a {
    color: #fff;
    text-decoration: none;
}

#headerMobile {
    display: none;
}

li a:hover {
    color: var(--accent);
    font-weight: 600;
}

.controles {
    position: absolute;
    right: 2dvw;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.idiomaEng {
    display: none;
}

.modoOscuro {
    display: none;
}

section {
    height: 90vh;
    padding-top: 8vh;
    padding-left: 16vw;
    padding-right: 16vw;
    padding-bottom: 2vh;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 7.5rem;
    left: 0;
    background: transparent linear-gradient(180deg, #0977B4 0%, var(--secondary) 100%) 0% 0% no-repeat padding-box;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2.5rem;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
    font-weight: 600;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 2.5rem;
    font-size: 3.5rem;
    margin-left: 5rem;
}

#mySidebar .controles {
    position: absolute;
    top: 0;
    left: 2.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5rem;
    color: #fff;
}

#mySidebar .controles img {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 2rem;
}

.colorGradient1 {
    margin-top: 7.5rem;
    background: transparent linear-gradient(180deg, #0977B4 0%, var(--secondary) 100%) 0% 0% no-repeat padding-box;
}

.whiteText { color: #FFFFFF; }

.accentBlueOne { color: var(--accentLight); }

.accentBlueTwo { color: var(--accentDark);}

.actionCallButton {
    background: #11B4D7 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: none;
    padding: 1.6rem 2rem;
    text-align: left;
    font: normal normal 600 4.1rem/4.9rem Figtree;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

#home {
    padding-top: 1vh;
    padding-left: 4vh;
    padding-right: 4vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30%;
}

.bienvenida {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.bienvenida img {
    width: 85%;
    height: auto;
    align-self: center;
}

.bienvenida h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    font: normal normal 900 4rem/5rem Figtree;
    letter-spacing: 0.48px;
    text-align: center;
}

.coverActions {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.coverActions p {
    font-size: 2.5rem;
}

.coverImg {
    grid-column: 2;
    grid-row: 1/3;
    padding-top: 5vh;
    display: flex;
    justify-content: right;
}

.coverImg img {
    width: 95%;
    object-fit: cover;
    object-position: center right;
    border-radius: 10px;
}

#nosotros {
    padding-left: 16vh;
    padding-right: 16vh;
    display: grid;
    grid-template: 40% 60% / 1fr;
}

#nosotrosTxt {
    grid-column: 1;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nosotrosTxt h2 {
    text-align: center;
    font: italic normal bold 8rem/9.6rem Figtree;
    margin: 2rem 0rem;
}

#nosotrosTxt p {
    text-align: center;
    font: normal normal normal 2.0rem/2.4rem Figtree;
}

#socios {
    grid-column: 1;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tarjetaSocio {
    width: 35rem;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    color: var(--primary);
}

.nombreSocio {
    font: normal normal bold 4rem/5rem Figtree;
    text-align: center;
}

.fotoSocio {
    width: 75%;
    height: 75%;
    object-fit: cover;
    object-position: top center;
    border-radius: 1rem;
    padding-top: 0.5rem;
    align-self: center;
}

.tituloSocio {
    padding-left: 4.5rem;
    padding-top: 1rem;
    font: normal normal normal 2.5rem/3rem Figtree;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tituloSocio img {
    height: 30px;
    width: 30px;
    padding-right: 1.5rem;
}

#misionVisionValores {
    background-color: #1F1F1F;
    padding: 0vh 0vh;
    display: grid;
    grid-template: 30% 30% 30% 10% / 1fr 2fr 2fr 1fr;
}

.textMVV {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;
    padding-right: 1.5rem;
}

.textMVV h2 {
    font: italic normal bold 4.3rem/5rem Figtree;
    margin-bottom: 0px;
}

.textMVV p {
    font: italic normal normal 2rem/3rem Figtree;
    letter-spacing: 1.5px;
}

.imgMVV {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 35%;
}

#misionTxt {
    grid-row: 1;
    grid-column: 2;
}

#misionImg {
    grid-row: 1;
    grid-column: 3/5;
}

#visionTxt {
    grid-row: 2;
    grid-column: 3;
    padding-left: 2.5rem;
}

#visionImg {
    grid-row: 2;
    grid-column: 1/3;
}

#valoresTxt {
    grid-row: 3;
    grid-column: 2;
}

#valoresImg {
    grid-row: 3;
    grid-column: 3/5;
}

#resumenMVV {
    grid-row: 4;
    grid-column: 1/5;
    padding-left: 35rem;
    padding-right: 35rem;
    background-color: var(--secondary);
}

#resumenMVV p {
    text-align: center;
    font: normal normal normal 2.0rem/2.4rem Figtree;
    letter-spacing: 1.4px;
}

.tituloDeSeccion {
    text-align: left;
    font: italic normal bold 4rem/5rem Figtree;
}

.textoDeSeccion {
    text-align: left;
    font: normal normal normal 2rem/3rem Figtree;
    padding: 0rem 1.5rem;
}

#queHacemos {
    margin-top: 2rem;
    height: 65vh;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    padding-bottom: 3vh;
}

#queHacemos .tituloDeSeccion {
    grid-row: 1/3;
    grid-column: 1;
    padding-right: 1rem;
}

#primeroTxtQH {
    grid-row: 1/3;
    grid-column: 2;
    border-right: 2px solid var(--primary);
    border-left: 2px solid var(--primary);
}

#segundoTxtQH {
    grid-row: 1;
    grid-column: 3;
}

#terceroTxtQH {
    grid-row: 2;
    grid-column: 3;
}

#productoEstrella {
    height: 100vh;
    padding-top: 0vh;
    display: grid;
    grid-template: 90% 10% / 1fr 1fr;
}

#descripcionPE {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#descripcionPE .tituloDeSeccion {
    padding-top: 10rem;
}

#descripcionPE .actionCallButton {
    margin-top: 1.5rem;
    padding: 1.6rem 9.5rem;
    margin-bottom: 3.5rem;
}

#imagenPE {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#imagenPE img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    object-position: center center;
    border-radius: 1rem;
}

#conclusionPE {
    grid-row: 2;
    grid-column: 1/3;
}

#serviciosV1 {
    display: grid;
    grid-template: 30% 35% 35% / 1fr 1fr 1fr;
}

#serviciosV1 .serviciosIntro {
    grid-column: 1/4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#serviciosV1 .textoDeSeccion {
    padding-left: 0rem;
}

.tarjetaServicio1 {
    position: relative;
    color: white;
    border-radius: 0.5rem;
    width: 85%;
    height: 85%;
}

.tarjetaServicio1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 40%;
    border-radius: 0.5rem;
}

.tarjetaServicioTitulo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(179deg, #FFFFFF00 0%, #FFFFFF00 17%, #AAAAAA00 40%, #000000D5 100%) 0% 0% no-repeat padding-box;
    border-radius: 0.5rem;
}

.tarjetaServicioTxt {
    font: normal normal 600 5rem/6rem Figtree;
    padding: 0.5rem 0rem;
    position: absolute;
    bottom: 0.8rem;
    left: 1.6rem;
}

#serviciosV2 {
    height: 150vh;
    display: grid;
    grid-template: repeat(6, 16.6%) / 1fr 1fr 1fr;
}

#serviciosV2 .tituloDeSeccion {
    grid-column: 2/4;
    grid-row: 1;
}

#serviciosV2 .tarjetaServicio1 {
    width: 92%;
    height: 95%;
}

#imagenServicio1 {
    grid-column: 1;
    grid-row: 1/3;
}

#imagenServicio2 {
    grid-column: 2;
    grid-row: 2/4;
}

#imagenServicio3 {
    grid-column: 1;
    grid-row: 3/5;
}

#imagenServicio4 {
    grid-column: 2;
    grid-row: 4/6;
}

#imagenServicio5 {
    grid-column: 1;
    grid-row: 5/7;
}

#serviciosV2texto1 {
    grid-column: 3;
    grid-row: 2;
}

#serviciosV2boton {
    grid-column: 3;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#serviciosV2texto2 {
    grid-column: 3;
    grid-row: 4/6;
}

#diferenciador {
    display: grid;
    grid-template: 10% 45% 45% / 45% 55%;
}

#diferenciador .tituloDeSeccion {
    margin-top: 2rem;
    grid-column: 1/3;
    grid-row: 1;
}

.tarjetaDiferenciador {
    border-radius: 5px;
    margin: 1.5rem 1.5rem;
    padding: 1.5rem 1.5rem;
    color: white;
    font: normal normal normal 1.5rem/2rem Figtree;
    letter-spacing: 1.5px;
}

.tarjetaDiferenciador h3 {
    font: normal normal 600 2rem/3rem Figtree;
    letter-spacing: 1.89px;
    margin: 0.5rem 0rem;
}

#diferenciadorTarjeta1 {
    grid-column: 1;
    grid-row: 2/4;
    background: #7C7C7C 0% 0% no-repeat padding-box;
}

#diferenciadorTarjeta1 img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    object-position: 50% 40%;
    border-radius: 0.5rem;
}

#diferenciadorTarjeta2 {
    grid-column: 2;
    grid-row: 2;
    background: #454545 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
}

#diferenciadorTarjeta2 img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 40%;
    border-radius: 0.5rem;
}

#diferenciadorTarjeta3 {
    grid-column: 2;
    grid-row: 3;
    background: #242424 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
}

#diferenciadorTarjeta3 img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 40%;
    border-radius: 0.5rem;
}

.textoTarjetaDiferenciador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5rem;
}

#ultimaLlamada {
    height: 80vh;
    display: grid;
    grid-template: 1fr 3fr 1fr / 1fr 1fr 1fr;
}

.ultimaLlamadaTarjetaTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5rem;
    font: normal normal normal 2rem/3rem Figtree;
    letter-spacing: 1.5px;
}

.ultimaLlamadaTarjetaTxt h3 {
    font: normal normal 600 27px/33px Figtree;
    letter-spacing: 1.89px;
}

#ultimaLlamadaTxt1 {
    grid-column: 1;
    grid-row: 2;
}

#ultimaLlamadaBtn {
    grid-column: 1;
    grid-row: 3;
}

#ultimaLlamadaMain {
    grid-column: 2;
    grid-row: 1/4;
    border-right: 2px solid var(--primary);
    border-left: 2px solid var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ultimaLlamadaMainTxt {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#ultimaLlamadaMain img {
    width: 90%;
    height: 70%;
    object-fit: cover;
    object-position: 50% 40%;
    border-radius: 0.5rem;
}

#ultimaLlamadaTxt2 {
    grid-column: 3;
    grid-row: 2;
}

footer {
    width: 100vw;
    height: 40vh;
    background: transparent linear-gradient(180deg, var(--secondary) 0%, #032970 40%, #032970 100%) 0% 0% no-repeat padding-box;
    display: grid;
    grid-template: 60% 40% / 1fr 1fr 1fr 1fr 1fr;
    font: normal normal 300 2.5rem/3rem Figtree;
    color: #FFFFFF;
}

#footerLogo {
    grid-row: 1;
    grid-column: 2/5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#footerLogo img {
    height: 20vh;
    object-fit: cover;
    object-position: 50% 40%;
    border-radius: 0.5rem;
}

#textoFooter1 {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 4rem;
}

#textoFooter1 h4 {
    font: normal normal medium 41px/49px Figtree;
    margin: 1rem 0rem;
}

#textoFooter1 a {
    color: #FFFFFF;
    text-decoration: none;
}

#textoFooter1 a:hover {
    color: #FFFFFF;
    font-weight: 600;
}

#textoFooter2 {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#redesSociales {
    grid-row: 2;
    grid-column: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.dark {
    background-color: #1F1F1F;
    color: #f1f1f1;
}

/* Tablet Landscape and laptop */
@media all and (min-width: 1026px) and (max-width: 1300px) {

    html, body {
        font-size: 9px;
    }

    section {
        padding-left: 4vw;
        padding-right: 4vw;
        margin-top: 3rem;
    }

    #nosotros {
        padding-left: 8vh;
        padding-right: 8vh;
    }

    #nosotrosTxt h2 {
        font: italic normal bold 7rem/8.6rem Figtree;
    }

    #socios {
        justify-content: space-around;
    }

    #misionVisionValores {
        background-color: #fff;
        padding: 0vh 0vh;
        display: grid;
        grid-template: 30% 30% 30% 10% / 2fr 2fr;
    }
    
    .textMVV {
        background-color: #1F1F1F;
        padding-left: 2.5rem;
    }

    #misionTxt {
        grid-row: 1;
        grid-column: 1;
    }
    
    #misionImg {
        grid-row: 1;
        grid-column: 2;
    }
    
    #visionTxt {
        grid-row: 2;
        grid-column: 2;
    }
    
    #visionImg {
        grid-row: 2;
        grid-column: 1;
    }
    
    #valoresTxt {
        grid-row: 3;
        grid-column: 1;
    }
    
    #valoresImg {
        grid-row: 3;
        grid-column: 2;
    }

    #resumenMVV {
        grid-row: 4;
        grid-column: 1/3;
    }

    .tituloDeSeccion {
        text-align: left;
        font: italic normal bold 5rem/6rem Figtree;
    }
    
    .textoDeSeccion {
        text-align: left;
        font: normal normal normal 2.5rem/3.5rem Figtree;
        padding: 0rem 1.5rem;
    }

    footer {
        font: normal normal 300 2rem/2.5rem Figtree;
        color: #FFFFFF;
    }

    #redesSociales img {
        width: 3.5rem;
    }

}

/* Tablet Portrait */
@media all and (min-width: 769px) and (max-width: 1025px) {

    html, body {
        font-size: 10px;
    }

    #headerLinkToS1 {
        display: none;
    }

    #headerLinkToS3 {
        display: none;
    }

    section {
        padding-left: 2vw;
        padding-right: 2vw;
        margin-top: 3rem;
    }

    #home {
        padding-right: 0vh;
    }

    .coverImg {
        display: flex;
        justify-content: right;
    }
    
    .coverImg img {
        width: 110%;
        position: relative;
        right: -4rem;
        /* z-index: 99; */
    }

    #nosotros {
        padding-left: 2vh;
        padding-right: 2vh;
    }

    #nosotrosTxt h2 {
        font: italic normal bold 7rem/8.6rem Figtree;
    }

    #socios {
        justify-content: space-around;
    }

    #misionVisionValores {
        background-color: #fff;
        padding: 0vh 0vh;
        display: grid;
        grid-template: 30% 30% 30% 10% / 2fr 2fr;
    }
    
    .textMVV {
        background-color: #1F1F1F;
        padding-left: 2.5rem;
    }

    #misionTxt {
        grid-row: 1;
        grid-column: 1;
    }
    
    #misionImg {
        grid-row: 1;
        grid-column: 2;
    }
    
    #visionTxt {
        grid-row: 2;
        grid-column: 2;
    }
    
    #visionImg {
        grid-row: 2;
        grid-column: 1;
    }
    
    #valoresTxt {
        grid-row: 3;
        grid-column: 1;
    }
    
    #valoresImg {
        grid-row: 3;
        grid-column: 2;
    }

    #resumenMVV {
        grid-row: 4;
        grid-column: 1/3;
        padding: 0rem 25rem;
    }

    #serviciosV1 {
        padding-left: 4vh;
    }

    .tarjetaServicio1 {
        width: 85%;
        height: 65%;
    }

    footer {
        display: grid;
        grid-template: 60% 40% / 1fr 1fr 1fr;
    }
    
    #footerLogo {
        grid-row: 1;
        grid-column: 1/4;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    #footerLogo img {
        height: 20vh;
        object-fit: cover;
        object-position: 50% 40%;
        border-radius: 0.5rem;
    }
    
    #textoFooter1 {
        grid-row: 2;
        grid-column: 1;
    }

    #textoFooter2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #redesSociales {
        grid-row: 2;
        grid-column: 3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

}

/* Mobile */
@media all and (min-width:1px) and (max-width: 768px) {

    html, body {
        font-size: 7px
    }

    #headerNormal {
        display: none;
    }
   
    #headerMobile {
        display: inherit;
        background: #0977B4 0% 0% no-repeat padding-box;
        color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 7.5rem;
        width: 100vw;
        z-index: 5;
    }

    #mobileHeaderLogoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
    }

    #headerMobile img {
        height: 6.5rem;
        cursor: pointer;
        margin: 0;
    }

    .material-symbols-outlined {
        cursor: pointer;
        position: absolute;
        top: 2.5rem;
        left: 2.5rem;
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 60;
    }

    section {
        padding-left: 3vw;
        padding-right: 3vw;
        margin-top: 3rem;
    }

    #home {
        padding-top: 1vh;
        padding-left: 2vh;
        padding-right: 2vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60vh 40vh;
    }
    
    #home h1 {
        grid-column: 1;
        grid-row: 1;
        font: normal normal 900 7rem/8.4rem Figtree;
        text-align: center;
    }
    
    .coverActions {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .coverImg {
        display: none;
    }
    
    #nosotros {
        height: 200vh;
        padding-left: 2vw;
        padding-right: 2vw;
        display: grid;
        grid-template: 20% 80% / 1fr;
    }
    
    #nosotrosTxt {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    #nosotrosTxt h2 {
        text-align: center;
        font: italic normal bold 5rem/6.5rem Figtree;
        margin: 0rem 0rem;
        overflow-x: clip;
    }

    #nosotrosTxt p {
        text-align: center;
        font: normal normal normal 2.5rem/3rem Figtree;
    }
    
    #socios {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .tarjetaSocio {
        width: 80%;
        height: 45dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    #misionVisionValores {
        height: auto;
        background-color: #1F1F1F;
        padding: 0vh 0vh;
        display: grid;
        grid-template: repeat(7, 1fr) / 1fr;
    }

    .textMVV {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: #fff;
        padding-left: 2rem;
    }
    
    .textMVV h2 {
        font: italic normal bold 3.5rem/4rem Figtree;
        margin: 0.5rem 0rem;
    }
    
    .textMVV p {
        font: italic normal normal 1.5rem/2rem Figtree;
        letter-spacing: 1.5px;
    }

    .imgMVV {
        width: 100%;
        height: 25vh;
        object-fit: cover;
        object-position: 50% 35%;
    }

    #misionImg {
        grid-row: 1;
        grid-column: 1;
    }

    #misionTxt {
        grid-row: 2;
        grid-column: 1;
    }

    #visionImg {
        grid-row: 3;
        grid-column: 1;
    }
    
    #visionTxt {
        grid-row: 4;
        grid-column: 1;
        padding-left: 2rem;
    }
    
    #valoresImg {
        grid-row: 5;
        grid-column: 1;
    }
    
    #valoresTxt {
        grid-row: 6;
        grid-column: 1;
    }
    
    #resumenMVV {
        grid-row: 7;
        grid-column: 1;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: #fff;
    }
    
    #resumenMVV p {
        text-align: center;
        font: normal normal normal 2.0rem/2.4rem Figtree;
        letter-spacing: 1.4px;
    }

    #queHacemos {
        margin-top: 0vh;
        height: 80vh;
        display: grid;
        grid-template: 20% 40% 40% / 1fr 1fr;
    }
    
    #queHacemos .tituloDeSeccion {
        grid-row: 1;
        grid-column: 1/3;
    }
    
    #primeroTxtQH {
        grid-row: 2/4;
        grid-column: 1;
        border-right: 2px solid #1F1F1F;
        border-left: 0px solid #1F1F1F;
    }
    
    #segundoTxtQH {
        grid-row: 2;
        grid-column: 2;
    }
    
    #terceroTxtQH {
        grid-row: 3;
        grid-column: 2;
    }

    #productoEstrella {
        height: auto;
        padding-top: 0vh;
        display: grid;
        grid-template: 2fr 2fr 1fr / 1fr;
    }
    
    #descripcionPE {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    
    #descripcionPE .tituloDeSeccion {
        padding-top: 1.5rem;
    }
    
    #descripcionPE .actionCallButton {
        margin-top: 1.5rem;
        padding: 1.6rem 9.5rem;
        margin-bottom: 3.5rem;
    }
    
    #imagenPE {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    
    #imagenPE img {
        width: 95%;
        height: 50vh;
        object-fit: cover;
        object-position: center center;
        border-radius: 1rem;
    }
    
    #conclusionPE {
        grid-row: 3;
        grid-column: 1;
    }

    #serviciosV1 {
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr;
        margin-bottom: 20vh;
    }
    
    #serviciosV1 .serviciosIntro {
        grid-column: 1/3;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #serviciosV1 .textoDeSeccion {
        padding-left: 0rem;
    }
    
    .tarjetaServicio1 {
        position: relative;
        color: white;
        border-radius: 0.5rem;
        width: 85%;
        height: 85%;
        margin-left: 2rem;
    }

    .tarjetaServicioTxt {
        font: normal normal 600 3.5rem/4rem Figtree;
        padding: 0.5rem 0rem;
        position: absolute;
        bottom: 0.8rem;
        left: 1.6rem;
    }

    #serviciosV2 {
        height: 200vh;
        display: grid;
        grid-template: repeat(10, 10%) / 1fr 1fr;
    }
    
    #serviciosV2 .tituloDeSeccion {
        grid-column: 1/3;
        grid-row: 1;
    }
    
    #serviciosV2 .tarjetaServicio1 {
        width: 92%;
        height: 95%;
    }
    
    #imagenServicio1 {
        grid-column: 1;
        grid-row: 2/4;
    }
    
    #imagenServicio2 {
        grid-column: 2;
        grid-row: 3/5;
    }
    
    #imagenServicio3 {
        grid-column: 1;
        grid-row: 6/8;
    }
    
    #imagenServicio4 {
        grid-column: 2;
        grid-row: 7/9;
    }
    
    #imagenServicio5 {
        grid-column: 1;
        grid-row: 8/10;
    }
    
    #serviciosV2texto1 {
        grid-column: 1;
        grid-row: 4/6;
    }
    
    #serviciosV2boton {
        grid-column: 2;
        grid-row: 9/11;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-top: 2rem;
    }
    
    #serviciosV2texto2 {
        grid-column: 2;
        grid-row: 5/7;
    }

    #diferenciador {
        display: grid;
        grid-template: 10% 30% 30% 30% / 1fr;
    }
    
    #diferenciador .tituloDeSeccion {
        margin-top: 0rem;
        grid-column: 1;
        grid-row: 1;
    }
    
    #diferenciadorTarjeta1 {
        grid-column: 1;
        grid-row: 2;
        background: #7C7C7C 0% 0% no-repeat padding-box;
        display: flex;
        flex-direction: row;
    }
    
    #diferenciadorTarjeta1 img {
        width: 40%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 40%;
        border-radius: 0.5rem;
    }
    
    #diferenciadorTarjeta2 {
        grid-column: 1;
        grid-row: 3;
        background: #454545 0% 0% no-repeat padding-box;
        display: flex;
        flex-direction: row;
    }
    
    #diferenciadorTarjeta3 {
        grid-column: 1;
        grid-row: 4;
        background: #242424 0% 0% no-repeat padding-box;
        display: flex;
        flex-direction: row;
    }

    #ultimaLlamada {
        height: 150vh;
        display: grid;
        grid-template: 2fr 1fr 3fr 2fr / 1fr;
    }
    
    .ultimaLlamadaTarjetaTxt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1.5rem;
        font: normal normal normal 2rem/3rem Figtree;
        letter-spacing: 1.5px;
    }
    
    .ultimaLlamadaTarjetaTxt h3 {
        font: normal normal 600 27px/33px Figtree;
        letter-spacing: 1.89px;
    }
    
    #ultimaLlamadaTxt1 {
        grid-column: 1;
        grid-row: 1;
    }
    
    #ultimaLlamadaBtn {
        grid-column: 1;
        grid-row: 2;
    }
    
    #ultimaLlamadaMain {
        grid-column: 1;
        grid-row: 3;
        margin-top: 2rem;
        border-right: 0px solid #1F1F1F;
        border-left: 0px solid #1F1F1F;
        border-top: 2px solid #1F1F1F;
        border-bottom: 2px solid #1F1F1F;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #ultimaLlamadaTxt2 {
        grid-column: 1;
        grid-row: 4;
    }

    footer {
        width: 100vw;
        height: 60vh;
        background: transparent linear-gradient(180deg, #FFFFFF 0%, #032970 40%, #032970 100%) 0% 0% no-repeat padding-box;
        display: grid;
        grid-template: 50% 20% 20% 10% / 1fr;
        font: normal normal 300 2.5rem/3rem Figtree;
        color: #FFFFFF;
    }
    
    #footerLogo {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    #footerLogo img {
        height: 20vh;
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 0.5rem;
    }

    #redesSociales {
        grid-row: 2;
        grid-column: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    #redesSociales img {
        width: 25px;
        height: 25px;
    }
    
    #textoFooter1 {
        grid-row: 3;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0rem;
    }
    
    #textoFooter1 h4 {
        font: normal normal medium 3rem/4rem Figtree;
        margin: 1rem 0rem;
    }
    
    #textoFooter1 a {
        color: #FFFFFF;
        text-decoration: none;
    }
    
    #textoFooter1 a:hover {
        color: #FFFFFF;
        font-weight: 600;
    }
    
    #textoFooter2 {
        font: normal normal normal 2rem/3rem Figtree;
        grid-row: 4;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}

/* Preferencias de usuario */
@media (prefers-color-scheme: dark) {

    body { 
      --text-color: #eee;
      --bkg-color: #121212;
    }

    :root {
        --primary: #FFFFFF;
        --secondary: #000000;
        --accentLight: #45CAE3;
        --accentDark: #0099DA;
    }

    .modoLuz {
        display: none;
    }

    .modoOscuro{
        display: block;
    }

}